<!-- incluir o head -->
<%- include('./partials/head') %>

  <!--Nosso CSS-->
  <link rel="stylesheet" href="/css/formulario_avisos.css">
</head>

<body>
  <!-- Menu -->
  <%- include('./partials/navbar') %>

  <% if (typeof aviso !== 'undefined') { %>
    <% var titulo = "Alterar Aviso" %>
    <% var rota = "/avisos/editar/"+aviso.ID_avisos %>
  <% } else { %>
    <% var titulo = "Novo Aviso" %>
    <% var rota = "/avisos/novo" %>
  <% } %>

  <div class="container">
    <br><br>
    <button onclick="goBack()" class="btn btn-info"><i class="fas fa-long-arrow-alt-left"></i></button>
    <br>

    <% if (typeof msg !== 'undefined') { %>
    <% if (msg.tipo ==='sucesso') { %>

    <br>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong><i class="far fa-calendar-check"></i> Sucesso! </strong><%=msg.corpo%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!--Fim do if sucesso-->
    <% } %> 

    <% if (msg.tipo==='erro'){ %>
      <br>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><i class="fas fa-exclamation-circle"></i> Erro! </strong><%=msg.corpo%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!--Fim do if erro-->
    <% } %>

    <!--Fim do typeof-->
    <% } %>

    <br>

    <div class="card shadow">
      <div class="card-header bg-dark text-white pl-5 p-4">
        <h2><i class="far fa-calendar-plus"></i> <%= titulo %> </h2>
      </div>
      <!--card-header-->
      <div class="card-body p-5">
        <form action="<%=rota %>" method="POST">
          
          <% if (typeof aviso !== 'undefined') { %>
            <div class="form-group">
              <label for="titulo">ID</label>
              <input id="id" name="id" type="text" class="form-control" required value="<%= aviso.ID_avisos %> " readonly>
            </div>
          <% } %>

          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input id="titulo" name="titulo" type="text" placeholder="Digite o título do aviso" class="form-control" required value="<%= typeof aviso !== "undefined" ? aviso.titulo : null %>" >
          </div>
          <div class="form-group">
            <label for="data">Data</label>
            <input id="data" name="data" type="date" class="form-control" value="<%= typeof aviso !== "undefined" ? moment(aviso.data).format('YYYY-MM-DD') : null %>" >
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem" name="mensagem" placeholder="Descreva o aviso" cols="40" rows="5" class="form-control" required><%= typeof aviso !== "undefined" ? aviso.mensagem : null %></textarea>
          </div>
          <div class="form-group text-right">
            <button type="reset" class="btn btn-secondary">Limpar</button>
            <button type="submit" class="btn btn-info"><%= typeof aviso !== "undefined" ? "Alterar" : "Cadastrar" %></button>
          </div>
        </form>
      </div>
      <!--card-body-->
    </div>
    <!--card-->
  </div>
  <!--container-->

  <!-- incluir os scripts do bootstrap -->
  <%- include ('./partials/scripts_import') %>

  <!-- Nosso Script-->
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

</html>
